POSTGRES_DB=ambiental
POSTGRES_USER=ambiental
POSTGRES_PASSWORD=ambiental
POSTGRES_PORT=5432

REDIS_PORT=6379
API_PORT=4000
WEB_PORT=3000

# En local:
NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
# En Coolify/produccion:
# NEXT_PUBLIC_API_URL=https://api.tudominio.com/api/v1

AUTH_SECRET=change-this-secret
COLLAB_SECRET=change-this-collab-secret
AUTH_ADMIN_USERNAME=admin
AUTH_ADMIN_PASSWORD=admin123
AUTH_USER_USERNAME=usuario
AUTH_USER_PASSWORD=user123

OPENAI_API_KEY=
OPENAI_BASE_URL=https://api.openai.com/v1
LLM_MODEL=gpt-4.1-mini
AUTH_TOKEN_TTL_SECONDS=43200
COLLAB_TOKEN_TTL_SECONDS=259200
